{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($util.autoId())
    },
    "attributeValues": {
        "userId": $util.dynamodb.toDynamoDBJson($context.identity.sub),
        "title": $util.dynamodb.toDynamoDBJson($context.arguments.title),
        "createdAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
}
