{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "chatId = :chatId",
    "expressionValues": {
      ":chatId": $util.dynamodb.toDynamoDBJson($ctx.args.id)
    }
  }
}
