{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "GSI1",
  "query": {
    "expression": "#userId = :userId",
    "expressionNames": {
      "#userId": "userId"
    },
    "expressionValues": {
      ":userId": {
        "S": "$context.arguments.userId"
      }
    }
  },
  #if($context.arguments.limit)
  "limit": $context.arguments.limit,
  #end
  #if($context.arguments.nextToken)
  "nextToken": "$context.arguments.nextToken",
  #end
  "scanIndexForward": false
}
